@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Inter", sans-serif;
  padding-inline: 16px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileSection {
  margin-top: 64px;
}

#profile__img {
  height: 88px;
  width: 88px;
  border-radius: 275px;
  margin-bottom: 24px;
}

#twitter {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #101828;
}

#slack {
  display: none;
}

.linkSection {
  gap: 8px;
  align-items: stretch;
  max-width: 1152px;
  margin: 56px auto 0px auto;
}

.link {
  text-decoration: none;
  color: #101828;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  background-color: #eaecf0;
  padding: 24px 32px;
  text-align: center;
  border: 1px none;
  border-radius: 8px;
}

.link:hover {
  background-color: #d0d5dd;
}

.link:active {
  border: 1px solid #98a2b3;
  background-color: #eaecf0;
}

.iconSection {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 16px 0px;
  padding: 24px;
}

.iconSection > a > img {
  height: 24px;
  width: 24px;
}

hr {
  margin: auto;
  max-width: 1152px;
  border: 0.5px solid #eaecf0;
}

.footer {
  margin: 32px auto;
  max-width: 1152px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.footer > img {
  height: 18px;
}

.footer > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #667085;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer > img {
    height: 24px;
  }
}
